@model  ComicBookGalerry.Models.ComicBook

@{
    ViewBag.Title = Model.DisplayText;
    ViewBag.ShowBackBar = true;
}


<h2>@Model.DisplayText</h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>Series Title:</label> @(Model.Series.Title != null ? Model.Series.Title : "N/A")</h5>
            <h5><label>Issue #:</label> @Model.IssueNumber</h5>
            <h5><label>Favorite:</label> @(Model.Favorite ? "Yes" : "No")</h5>
            @if (Model.Artists.Length > 0)
            {
                <h5>Artists</h5>
                <div>
                    <ol>
                        @foreach (var artist in Model.Artists)
                        {
                            <li>@artist.Role : @artist.Name</li>
                        }
                    </ol>
                </div>
            }
            else
            {
                <p>Any artist couldn't find</p>
            }
        </div>
        <p>
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" 
               data-via="@ViewBag.TwitterAccount" data-hashtags="comicbooks" 
               data-lang="en" data-show-count="false">Tweet</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </p>
        <h5>Description</h5>
        <div>@Html.Raw(Model.DescriptionHtml)</div>
    </div>
    <div class="col-md-6">
        <img src="/Images/@Model.CoverImageFileName"
             alt="@Model.DisplayText" class="img-responsive" />
    </div>
</div>

