@model List<HomeBudgetApp.Models.Account>
@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />
<br />

@if (TempData["Msg"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        @TempData["Msg"]

    </div>
}

<h1>List of available accounts: </h1>
<div class="row">
    <table id="accounts" class="table table-hover text-center">
        <thead>
            <tr class="bg-primary text-white">
                <th scope="col">Account Id</th>
                <th scope="col">Account Name</th>
                <th scope="col">Account Balance</th>
                <th scope="col">Action</th>

            </tr>

        </thead>
        <tbody>
            @foreach (var account in Model)
            {
                <tr>
                    <th scope="row">@account.Id</th>
                    <td>@account.Name</td>
                    <td>@account.OpeningBalance</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = @account.Id }, new { @class = "btn btn-sm bg-light" })
                        <button class="btn btn-sm bg-light js-delete" account-id=@account.Id>Delete</button>
                    </td>

                </tr>
            }

        </tbody>
    </table>
</div>

@section Scripts
{
    <script>

        $(document).ready(function () {
            $("#accounts").on("click", ".js-delete", function () {

                var button = $(this);

                bootbox.confirm("Are you sure to remove this account ?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/BudgetAccounts/Delete/" + button.attr("account-id"),
                            success: function () {
                                $(button.parents("tr")).remove();
                            },
                        });
                    }
                });
            });
        });

    </script>

}

