@model HomeBudgetApp.ViewModels.AccountFormViewModel

<br />
<br />
<br />
<br />

<h2 class="media-heading">Add New Account</h2>
<hr class="my-4" />

@using (@Html.BeginForm("Save","BudgetAccounts"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Account.Name)
        @Html.TextBoxFor(m => m.Account.Name, new { @class = "form-control " })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Account.TypeId, "Account Type")
        @Html.DropDownListFor(m => m.Account.TypeId, new SelectList(Model.AccountTypes, "Id", "Name"), "Select type of your account", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Account.OpeningBalance)
        @Html.TextBoxFor(m => m.Account.OpeningBalance, new { @class = "form-control" })
    </div>

    <hr class="my-4" />

    <div class="text-right">
        <button type="submit" class="btn btn btn-outline-success">Add new account</button>
        <a href="#" class="btn btn btn-outline-warning">Cancel</a>
    </div>
}

